body{
    margin: 1rem;
}
#listWrapper{
    background-color: rgb(221, 226, 242);
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 1rem;
    max-width: 30rem;
}
#listWrapper2{
    background-color: rgb(208, 208, 208);
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 1rem;
    max-width: 30rem;
}
h3{
    text-align: center;
}
.listHeader{

    font-size: 0.8rem;
}
.flexbox1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* width: 40%; */
    justify-content: space-between;
}
.URIString{
    border: solid white 3px;
    border-radius: 1rem;
    background-color: white;
}
.address{
    border: solid white 3px;
    border-radius: 1rem;
    background-color: white;
    font-size:x-small;
}
.ideaWrapper{
    border: solid white 3px;
    border-radius: 1rem;
    background-color: white;
}